.searchbar {
  position: relative;
  inline-size: 100%;
}

.search-label {
  position: absolute;
  inset-inline-start: 10px;
  inset-block-start: 50%;
  translate: 0 -50%;
}

input {
  block-size: 50px;
  inline-size: 100%;
  font-family: var(--body-font);
  font-size: 1.25rem;
  font-weight: 400;
  padding-inline-start: 45px;
  border-radius: 10px;
  border: none;
  background-color: var(--card);
}

input::placeholder {
  font-size: 1.25rem;
  font-family: var(--body-font);
  font-weight: 400;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-search-cancel-button {
  position: relative;
  inset-inline-end: 20px;
  display: block;
  -webkit-appearance: none;
  block-size: 20px;
  inline-size: 20px;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../../images/Cancel.svg");
}

input:focus {
  outline: 1px solid var(--correct-translucent);
}
