footer {
    position: fixed;
    inset-block-end: 0;
    inset-inline-start: 0;
    display: flex;
    gap: 5px;
    inline-size: 100%;
    justify-content: center;
    padding: 15px;
    background-color: var(--main-background);
    border-block-start: 1px solid var(--hover);
}