@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geologica", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --body-font: "Geologica", sans-serif;
  --box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
    0px 5px 4px rgba(3, 7, 18, 0.03);
  --primary-dark: #323232;
  --primary-active: #212121;
  --placeholder: #676767;
  --correct: #557ffe;
  --correct-darker: rgba(54, 79, 153, 0.94);
  --lightcard: #f5f5f5;
  --card: #eeeeee;
  --hover: #7777773d;
  --main-background: #ffffff;
  --primary-light: #f3f3f3;
  --danger: #c84b4c;
  --input: #d6d6d6;
  --correct-translucent: #557ffe1f;
  --outline: #666666cf;
  --transparent: transparent;
  --danger-translucent: #d3525232;
}